{
  "env": {
    "node": true,
  },
  "extends": "airbnb/base",
  "rules": {
    "no-var": [ 0 ],
    "vars-on-top": [ 0 ],
    "func-names": [ 0 ],
    "no-console": [ 0 ],
    "padded-blocks": [ 0 ],
  }
}
